<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
        <h1> <%= title %> </h1>
        <p>current seconds is <%= seconds %> </p>
        <!-- display array list here -->
        <% if(seconds % 2 ===0){ %>
            <ul>
               <% items.forEach((fruit)=>{   %> 
                <li><%= fruit %></li>
                <%   }) %>
            </ul>

            <% } else { %>
                <p>no items to display</p>
                <% } %>
        <!-- display array list here -->
        <%-  htmlContent %>
        <%- include('footer.ejs') %>
</body>
</html>